coverage.out
cloudbackup
cloudbackup.exe
tmp/
.idea/
integration_tests/.venv
integration_tests/__pycache__
documentation_src/.venv/
documentation_src/__pycache__
developer_documentation/.venv
developer_documentation/__pycache__
*.pyc
*~
.vagrant/
ubuntu-bionic-18.04-cloudimg-console.log
ubuntu-xenial-16.04-cloudimg-console.log
.creds
.creds.ps1
