boto3==1.9.174
botocore==1.12.174
flake8==3.5.0
requests==2.22.0
pyyaml==5.1.1
bcrypt==3.1.4
swagger-spec-validator==2.3.1
swagger-tester==0.2.12
jsonschema==2.6.0
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-core==1.0.3
google-cloud-storage==1.19.0
google-resumable-media==0.4.0
googleapis-common-protos==1.6.0
