aiosmtpd
boto3==1.20.22
botocore==1.23.22
flake8==7.1.1
requests==2.26.0
pyyaml==5.2b1
pyasyncore==1.0.4
bcrypt==3.2.0
swagger-spec-validator==2.7.4
swagger-tester==0.2.12
swagger-parser==1.0.2
jsonschema==3.2.0
google-api-core==2.3.0
google-auth==2.3.3
google-cloud-core==2.2.1
google-cloud-storage==1.43.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
azure-common==1.1.23
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
connexion==2.9.0
click==7.1.2
Jinja2==2.11.3
iso8601==1.0.2
