aiosmtpd
boto3==1.20.22
botocore==1.23.22
flake8==7.1.1
requests==2.33.1
pyyaml==5.2b1
pyasyncore==1.0.4
bcrypt==3.2.0
swagger-spec-validator==3.0.4
swagger-tester==0.2.12
swagger-parser==1.0.2
jsonschema==4.26.0
google-api-core==2.30.3
google-auth==2.49.2
google-cloud-core==2.5.1
google-cloud-storage==3.10.1
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
azure-common==1.1.23
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
connexion==3.3.0
click==7.1.2
Jinja2==3.1.6
iso8601==1.0.2