[Unit]
Description=CloudBackup server
Documentation=https://github.com/aionica/cloudbackup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/cloudbackup server start --configfile /etc/cloudbackup/config.yaml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
